.contenido{
    // border: 1px solid green;
    height: 90vh;
    width: 100px;
    background: url('../img/orkin.png') no-repeat center 
                // url('../img/plaga1.png') no-repeat top left
              hsla(0,1,95,90%);
}