.contenido{
    height: 90vh;  
    max-height: 100%;
    max-width: 100%;
    background: url('../img/orkin.png') no-repeat center,
                url('../img/moscas.png') no-repeat bottom right,
              hsla(0,1,95,90%);

    .etiqueta{
      height: 5vh;
      background: linear-gradient(180deg, hsl(0,85,50), hsl(0,85,70));
      border-radius: 0 1vh 1vh 0;

      &__title{
        margin-top: 1vh;
        text-align: center;
        color: white;
      }

    }
    .cuerpo{
      .card-body{
        height: 60vh;
      }
      .image-referent{
        display: block;
        margin: 0 auto;
        height: 150px;
        width: auto;
      }
      .description{
        padding: .25rem;
      }

      .boton-plus{
        display: block;
        margin: 0 auto;
      }
    }
}